<?xml version="1.0"?>
<config>
    <modules>
        <mhi_removecurrencydecimal>
            <version>0.1</version>
        </mhi_removecurrencydecimal>
    </modules>
    <global>
        <models>
            <directory>
                <rewrite>
                    <currency>MHI_RemoveCurrencyDecimal_Model_Currency</currency>
                </rewrite>
            </directory>
        </models>
    </global>
</config>